Repository ismailbay/k8s-dev-stack, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/terraform, area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*

chore: move openebs to storage namespace
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/namespace.yaml
  kubernetes/apps/storage/openebs/app/helmrelease.yaml
  kubernetes/apps/storage/openebs/app/kustomization.yaml
  kubernetes/apps/storage/openebs/ks.yaml
Labels: area/kubernetes

feat: add longhorn with R2 backups
  kubernetes/apps/storage/longhorn/app/helmrelease.yaml
  kubernetes/apps/storage/longhorn/app/kustomization.yaml
  kubernetes/apps/storage/longhorn/app/secret.sops.yaml
  kubernetes/apps/storage/longhorn/app/snapshot.yaml
  kubernetes/apps/storage/longhorn/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: add longhorn serviceMonitor
  kubernetes/apps/storage/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

feat: add prometheus and alertmanager
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfigs/openwrt.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/secret.sops.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

feat: add smartctl-exporter
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/smartctl-exporter/app/kustomization.yaml
  kubernetes/apps/observability/smartctl-exporter/app/prometheusrules.yaml
  kubernetes/apps/observability/smartctl-exporter/ks.yaml
Labels: area/kubernetes

feat: add grafana
  kubernetes/apps/observability/grafana/app/dashboards/kustomization.yaml
  kubernetes/apps/observability/grafana/app/dashboards/smartctl-exporter.json
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/secret.sops.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/flux/repositories/helm/grafana.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: add homepage
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/kustomization.yaml
  kubernetes/apps/default/homepage/app/secret.sops.yaml
  kubernetes/apps/default/homepage/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/namespace.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

chore: update tokens and settings
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/homepage/app/secret.sops.yaml
Labels: area/kubernetes

chore: homepage layout
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

feat: add cloudnative-pg operator
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/database/namespace.yaml
  kubernetes/flux/repositories/helm/cloudnative-pg.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: add postgres16 cluster
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/lb-service.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/prometheusrule.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/secret.sops.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes

fix: deactivate restoring
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

feat: add postgres R2 backup
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
Labels: area/kubernetes

chore: decrease backup retention to 10d
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix: deactivate restoring
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

chore: upgrade task files
  .gitignore
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
Labels: area/taskfile

chore: upgrade talos (1.8.3)
  kubernetes/bootstrap/talos/talconfig.yaml
  terraform/proxmox/nodes.tf
Labels: area/kubernetes, area/terraform

chore: upgrade postgresql
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix: add accidentally removed space
  .taskfiles/Kubernetes/Taskfile.yaml
Labels: area/taskfile

feat: add strimzi and kafka deployment files, emberstack reflector
  kubernetes/apps/development/kafka/kafka/kafka-cluster.yaml
  kubernetes/apps/development/kafka/kafka/kustomization.yaml
  kubernetes/apps/development/kafka/ks.yaml
  kubernetes/apps/development/kafka/strimzi/helmrelease.yaml
  kubernetes/apps/development/kafka/strimzi/kustomization.yaml
  kubernetes/apps/development/kustomization.yaml
  kubernetes/apps/development/namespace.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
  kubernetes/apps/kube-system/reflector/app/kustomization.yaml
  kubernetes/apps/kube-system/reflector/ks.yaml
  kubernetes/apps/network/ingress-nginx/certificates/production.yaml
  kubernetes/flux/repositories/helm/emberstack.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/strimzi.yaml
Labels: area/kubernetes

feat: add node labels to simulate topology regions and zones
  kubernetes/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes

feat: make kafka rack aware
  kubernetes/apps/development/kafka/kafka/kafka-cluster.yaml
Labels: area/kubernetes

feat: add redpanda-console
  kubernetes/apps/development/kafka/ks.yaml
  kubernetes/apps/development/kafka/redpanda-console/app/helmrelease.yaml
  kubernetes/apps/development/kafka/redpanda-console/app/kustomization.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/redpanda-data.yaml
Labels: area/kubernetes

chore: configure rack AntiAffinity for kafka
  kubernetes/apps/development/kafka/kafka/kafka-cluster.yaml
Labels: area/kubernetes

fix: use bootstrap service
  kubernetes/apps/development/kafka/redpanda-console/app/helmrelease.yaml
Labels: area/kubernetes

fix: kafka anti affinity
  kubernetes/apps/development/kafka/kafka/kafka-cluster.yaml
Labels: area/kubernetes

chore: add test topic
  kubernetes/apps/development/kafka/kafka/kustomization.yaml
  kubernetes/apps/development/kafka/kafka/topics.yaml
Labels: area/kubernetes

feat: add kyverno
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/remove-cpu-limits.yaml
  kubernetes/apps/kyverno/namespace.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/kyverno.yaml
Labels: area/kubernetes

feat: add weave-gitops
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/app/secret.sops.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/weaveworks.yaml
Labels: area/kubernetes

feat: add kyverno policy to add topology zone to pods
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/policies/add-topology-zone-pod.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
Labels: area/kubernetes

feat: add EMQX
  kubernetes/apps/database/emqx/app/helmrelease.yaml
  kubernetes/apps/database/emqx/app/kustomization.yaml
  kubernetes/apps/database/emqx/app/secret.sops.yaml
  kubernetes/apps/database/emqx/cluster/cluster.yaml
  kubernetes/apps/database/emqx/cluster/ingress.yaml
  kubernetes/apps/database/emqx/cluster/kustomization.yaml
  kubernetes/apps/database/emqx/cluster/podmonitor.yaml
  kubernetes/apps/database/emqx/cluster/secret.sops.yaml
  kubernetes/apps/database/emqx/ks.yaml
  kubernetes/flux/repositories/helm/emqx.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: add persistence to EMQX
  kubernetes/apps/database/emqx/cluster/cluster.yaml
Labels: area/kubernetes

chore: upgrade kafka to from 3.8.0 to 3.9.0
  kubernetes/apps/development/kafka/kafka/kafka-cluster.yaml
Labels: area/kubernetes

feat: add kafka prometheus metrics
  kubernetes/apps/development/kafka/kafka/kafka-cluster.yaml
  kubernetes/apps/development/kafka/kafka/kustomization.yaml
  kubernetes/apps/development/kafka/kafka/metrics-configmap.yaml
  kubernetes/apps/development/kafka/kafka/podmonitor.yaml
Labels: area/kubernetes

feat: add operator lifecycle manager as helm release
  kubernetes/apps/olm/kustomization.yaml
  kubernetes/apps/olm/namespace.yaml
  kubernetes/apps/olm/operator-lifecycle-manager/app/helmrelease.yaml
  kubernetes/apps/olm/operator-lifecycle-manager/app/kustomization.yaml
  kubernetes/apps/olm/operator-lifecycle-manager/ks.yaml
  kubernetes/flux/repositories/helm/cloudtooling.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: emqx
  kubernetes/apps/database/emqx/cluster/secret.sops.yaml
Labels: area/kubernetes

chore: clean up homepage configuration
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

chore: archive operator-lifecycle-manager
  kubernetes/apps/.archive/olm/kustomization.yaml
  kubernetes/apps/.archive/olm/namespace.yaml
  kubernetes/apps/.archive/olm/operator-lifecycle-manager/app/helmrelease.yaml
  kubernetes/apps/.archive/olm/operator-lifecycle-manager/app/kustomization.yaml
  kubernetes/apps/.archive/olm/operator-lifecycle-manager/ks.yaml
Labels: area/kubernetes

chore: move archive to outside of flux managed resources
  .archive/olm/kustomization.yaml
  .archive/olm/namespace.yaml
  .archive/olm/operator-lifecycle-manager/app/helmrelease.yaml
  .archive/olm/operator-lifecycle-manager/app/kustomization.yaml
  .archive/olm/operator-lifecycle-manager/ks.yaml
Labels: none

feat: add alertmanager telegram notifier
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/secret.sops.yaml
Labels: area/kubernetes
